.venv
.bashrc_Mooc*
**/__pycache__/**
*.pyc
**/staticfiles/**
**/media/**
**/.coverage*
/mooc/mooc/settings/develop.py
/mooc/mooc/settings/production.py
/mooc/mooc/variables_environnement.py
/mooc/htmlcov
**/tests/tmp
node_modules
.env
/get_and_set_permissions
/tmp
/Notes
/public