{% extends 'base.html'%}

{% load static %}

{% block content %}

<section class="mt-10 flex flex-col items-center">

        <h3></h3>

        <form class="flex flex-col items-center" method="post" action=".">
            {% csrf_token %}
            
            {% if user.is_authenticated %}
                <p>Vous êtes connecté, {{ user.first_name }} {{ user.last_name }} !</p>
                <p><a class="action-button" href="{% url 'user:deconnexion' %}">Se déconnecter</a></p>
            {% else %}
                <div class="mt-10 flex flex-col gap-4">
                    {{ form }}
                </div>
                {% if user_still_exists %}
                    <p class="mt-4 text-red-500 font-bold">Ce nom d'utilisateur existe déjà, veuillez choisir un autre nom.</p>
                {% endif %}
                {% if authentication_fail %}
                    <p class="mt-4 text-red-500 font-bold">Le nom d'utilisateur ou le mot de passe est erronné.</p>
                {% endif %}
                
                <button type="submit" class="mt-10 action-button">Se connecter</button>
            {% endif %}
        </form>
    
</section>

{% endblock %}
