{% load static tutos_extras %}


    <div class="fixed top-16 right-0  flex flex-col items-end bg-white sm:top-20">
        <div id="sommaire_box" class="w-40 mr-10 flex flex-row justify-end items-center text-header text-sm hover:font-bold hover:cursor-pointer">
            <p>SOMMAIRE</p>
            <div id="caret" class="unfold-caret"></div>
        </div>

        <div id="sommaire_menu_deroulant" class="hidden overflow-y-hidden w-full z-10 flex flex-col bg-slate-100 transition-all duration-500">
            <ul class="px-4 py-2 text-xs sm:text-sm ">

            {% for pageprogress in tp.get_all_pageprogress %}
                {% if pageprogress.page.page_number <= tp.next_page or tp.is_finished %}
                    <li class="text-slate-800 hover:underline">
                        {% if pageprogress.finished %}
                        <img class="w-4 inline" src={% static 'tuto/img/check_round_green.svg'%}>
                        {% else %}
                        <img class="w-4 inline" src={% static 'tuto/img/blank.svg'%}>
                        {% endif %}
                        {% if pageprogress.page == current_page %}
                        <a class="font-bold" href="{% url 'tuto:read_tuto' tuto.slug pageprogress.page.page_number %}#tete_de_page">{{pageprogress.page.page_number}}- {{pageprogress.page.page_title}}</a>
                        {% else %}
                        <a href="{% url 'tuto:read_tuto' tuto.slug pageprogress.page.page_number %}#tete_de_page">{{pageprogress.page.page_number}}- {{pageprogress.page.page_title}}</a>
                        {% endif %}
                    </li>
                    {% for content in pageprogress.page.get_all_contents %}
                        {%  if content.contenttype == 'TI' %}
                        <li class="ml-12 text-slate-800 hover:underline"><a href="{% url 'tuto:read_tuto' tuto.slug pageprogress.page.page_number %}{{ content.ancre }}" >{{content.texte}}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if pageprogress.page.get_all_questions %}
                        <li class="ml-12 text-slate-800 hover:underline"><a href="{% url 'tuto:read_tuto' tuto.slug pageprogress.page.page_number %}#quiz" >QUIZ</a></li>
                    {% endif %}
                {% else %}
                    <li class="text-slate-500"><img class="w-4 inline" src={% static 'tuto/img/blank.svg'%}><span>{{pageprogress.page.page_number}}- {{pageprogress.page.page_title}}</san></li>
                    {% for content in pageprogress.page.get_all_contents %}
                        {%  if content.contenttype == 'TI' %}
                        <li class="ml-12 text-slate-500"><span>{{content.texte}}</span></li>
                        {% endif %}
                    {% endfor %}
                    {% if page.get_all_questions %}
                        <li class="ml-12 text-slate-500"><span>QUIZ</span></li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            </ul>
        </div>
        
    </div>

    <div id="tete_de_page" class="reachable w-full mt-4 px-6 py-0 gap-1 flex justify-start items-start flex-col border-b-2 text-slate-700">
            <p id="nav_tuto" class="text-xs sm:text-sm">
                <a class="font-bold hover:underline" href="{% url 'home:index' %}">Accueil</a>
                <span>></span>
                <a class="hover:underline" href="{% url 'tuto:listing' %}">Tutoriels</a>
                <span>></span>
                <a class="action-button" href="{% url 'tuto:listing_cat' tuto.category.slug %}">{{ tuto.category.name }}</a>
            </p>    
            <p class="text-xs sm:text-sm">
                <em>{{ tuto.get_author_names }} - {{tuto.get_tuto_status}}</em>
                {% if utilisateur == "auteur" %}
                    {% if tuto.in_progress or tuto.rejected %}
                    <a class="ms-4 bg-orange-400 rounded px-1 py-0" href="{% url 'tuto:update_tuto' tuto.slug %}">Modifier</a>
                    {% endif %}
                    <a class="ms-4 bg-slate-400 rounded px-1 py-0" href="{% url 'progress:auteur' %}">Retour</a>
                {% elif utilisateur == "gestionnaire" %}
                    <em> - {{ tuto.get_author_names }} - {{tuto.get_tuto_status}}</em>
                    <a class="ms-4 bg-slate-400 rounded px-1 py-0" href="{% url 'progress:gestionnaire' %}">Retour</a>
                {% endif %}
            </p>

            <p class="min-w-40 leading-8 mt-1 mb-2 text-xs sm:text-sm"> 
                <span class="mr-2 italic text-sm">Accès : </span>
                {% if tuto.get_restrictions %}
                    {% for res in tuto.get_restrictions %}
                    <span class="restriction-choice access-button">{{res.name}}</span> 
                    {% endfor %}
                {% else %}
                    <span class="access-button">Tout public</span> 
                {% endif %}
            </p>
    
            <h1 class="text-lg sm:text-2xl font-bold ">
                <span>{{tuto.title}}</span>
                {% if tuto.archived %}
                <span class= "mx-2 px-2 bg-slate-800 text-slate-200" >ARCHIV&#201;</span>
                {% endif %}
                {% if not tuto.published %}
                <span class= "mx-2 px-2 bg-slate-800 text-slate-200" >NON PUBLI&#201;</span>
                {% endif %}
            </h1>

            <div class= "flex justify-start items-center flex-row gap-4 text-sm sm:text-base ">
                {% if current_page.page_number > 1 %}
                    <a href="{% url 'tuto:read_tuto' tuto.slug current_page.page_number|add:-1 %}" class="left-arrow"></a>
                {% endif %}
                <p class="">Page: {{current_page.page_number}}</p>
                {% if current_page.page_number < tuto.get_pages_total_number  %}
                    {% if  current_pageprogress.finished %}
                        <a href="{% url 'tuto:read_tuto' tuto.slug current_page.page_number|add:1 %}" class="right-arrow"></a>
                    {% elif current_page.page_number < tuto.get_pages_total_number%}
                        <span class="right-arrow-inactive"></span>
                    {% endif %}
                {% endif %}
            </div>
    </div>


