{% load static %}



{% if delete_name == "page" %}
<div class="w-6">
    <img class="fold w-8 cursor-pointer duration-100 ease-linear" src="{% static 'tuto/img/dropdown-up-white.svg' %}"/>
</div>
{% elif delete_name != "listitem" %}
<div class="w-6">
    <img class="fold w-8 cursor-pointer duration-100 ease-linear" src="{% static 'tuto/img/dropdown-up-black.svg' %}"/>
</div>
{% endif %}


<div class="remove w-6">
    {% if delete_name == "page" %}
    <img class="removecross greycross" src="{%static 'tuto/img/cross-white.svg' %}"/>
    <img class="removecross redcross hidden" src="{%static 'tuto/img/croix_ronde_rouge.svg' %}"/>
    {% else %}
    <img class="removecross greycross" src="{%static 'tuto/img/cross-black.svg' %}"/>
    <img class="removecross redcross hidden" src="{%static 'tuto/img/croix_ronde_rouge.svg' %}"/>
    {% endif %}

    <input class="hidden" type="checkbox" name=delete-{{delete_name}}-{{delete_id}}-/>
</div>

<div class="w-8">
    {% if delete_name == "page" %}
    <img class="handle w-8" src="{%static 'tuto/img/drag_dots_white.svg' %}"/>
    {% else %}
    <img class="handle w-8" src="{%static 'tuto/img/drag_dots_black.svg' %}"/>
    {% endif %}
</div>