{% extends 'base.html'%}

{% load static tutos_extras %}

{% block content %}
    
<section class="mb-10 w-full flex justify-start items-start flex-col gap-8 ">

    <div class="w-full mt-12 flex justify-between items-start flex-col gap-4 lg:flex-row">    
        <h4 class="titre-accueil">Espace Auteur de {{ user.username}} :</h4>
        {% include 'progress/nav_buttons.html' %}         
    </div> 

    <div class="w-full flex flex-col justify-start items-end gap-2">
        <h5 class="titre-rubrique">Créer un nouveau tutoriel :</h5>
        <a class="green-button" href="{% url 'tuto:create_tuto' %}">Créer</a>
    </div>

    <h5 class="titre-rubrique">Les tutoriels dont vous êtes l'auteur :</h5>

    {% for tb in tutobases %}
    <div class="tutobase w-full" id="tb-{{tb.id}}">
        {% for tuto in tb.get_all_tutos %}             
        <div class=" tutorial w-full flex justify-start items-end flex-col gap-2" id="{{tuto.version}}">
            {% include 'tuto/vignette_tuto.html' %}
            <div class="w-full md:w-fit flex justify-end flex-row gap-2">
                
                {% if tuto.in_progress or tuto.rejected %}
                <a class="grey-button" href="{% url 'tuto:update_tuto' tuto.slug %}">Modifier</a>
                {% endif %}

                {% if tuto.in_progress and tuto.get_all_pages %}
                <a class="submit-button green-button" data-message="Voulez-vous soumettre ce tutoriel au gestionnaire en vue de sa publication ?" data-link="{% url 'tuto:submit_tuto' tuto.slug %}">Soumettre</a>
                {% endif %}

                {% if tuto.is_last_published_or_archived_version and tuto.is_last_version %}
                <a class="new-button grey-button" data-message="Vous pouvez créer une nouvelle version à partir de ce tutoriel." data-link="{% url 'tuto:duplicate_tuto' tuto.slug %}">Nouvelle version</a>
                {% endif %}
                                    
                {% if tuto.in_progress %}
                <a class="delete-button red-button" data-message="Voulez-vous supprimer définitivement ce tutoriel ?" data-link="{% url 'tuto:delete_tuto' tuto.slug %}">Supprimer</a>
                {% endif %}

            </div>
        </div>
        {% endfor %}
    </div>
    {% empty %}
        <p class="italic">Vous n'avez encore créé aucun tutoriel.</p>
    {% endfor %}

    <div class="w-full mt-8">
        {% include 'progress/nav_buttons.html' %}
    </div>

</section>
{% include "alert_box.html" with alert="alert-update" message="" act_button="hidden" act_link="" link="" back_text="Annuler" act_text="" %}
<script type="module" src="{% static 'progress/js/tuto_admin.js' %}"></script>

{% endblock %}
